build {{ build["group"].slug }}:{{ build["project"].slug }}:{{ build["build"].version }}
  has {{ build_stats.build.pass + build_stats.build.fail + build_stats.build.skip + build_stats.build.xfail }} tests, {{ build_stats.failures|length }} failures and {{ build_stats.skips|length }} skips
{% if previous_build %}
  if compared to build: {{ previous_build["group"].slug }}:{{ previous_build["project"].slug }}:{{ previous_build["build"].version }}
    has {% if compared_to_previous.regressions %}{{ compared_to_previous.regressions|length }}{% else %}no{% endif %} regressions
{% endif %}
{% if base_build and base_build["build"].version != previous_build["build"].version %}
  if compared to build: {{ base_build["group"].slug }}:{{ base_build["project"].slug }}:{{ base_build["build"].version }}
    has {% if compared_to_base.regressions %}{{ compared_to_base.regressions|length }}{% else %}no{% endif %} regressions
{% endif %}
{% if details_url %}
  details: {{ details_url }}
{% endif %}


